

header {
    height: 100vh;
    background: url(/img/crumpcoin.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

main {
    height: 50%;
}

span p {
    font-size: smaller;
    font-weight: lighter;
}
footer {
    height: 30%;
    position: relative;
    top: 0;
    bottom: 0;
}



html,
body,
main,
.container,
.container-fluid,
footer {
    padding: env(safe-area-inset);
  }

h1,
h2,
p,
.labelFont {
    font-family: 'Raleway', sans-serif;
}



.arrow {
    
    display: flex;
    flex-direction: column-reverse;
    color: white;
    font-size: 60px;
    animation: blink 2s ease-in-out;
}

@keyframes blink {
    
    0%{
        opacity: 0;

    }
   50% {
        opacity: 0.7;
    }
    100%{opacity: 0.4;}
}




    .email {
        width: 75%;
    }

@media (min-width: 478px) {
    .email {
        width: 75%;
    }
}

// .main-bod {
//     display: flex;
//     flex-direction: column;
//     height: 100vh;
//     width: 100vw;
//    justify-content: center;
//    align-items: center;
//   background-color: black;
// }
